#freelance-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#avail-free {
  display: flex;
  justify-content: space-evenly;
}

#average {
  display: flex;
  justify-content: space-evenly;
}

#forum {
  display: flex;
  justify-content: space-evenly;
}

#list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
  padding: 0;
  
}